.finish{
    background-color:rgb(86,103,117) ;
    text-decoration: line-through;
}
.task1{
    background-color:rgb(253,245,227) ;
    color:black
}
.task2{
    background-color:rgb(239,231,213) ;
    color:black
}